<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>{{ post_object.title }} - My Posts!</title>
  </head>
  <body class="content container">
    <header>
      <nav class="py-6">
        <a href="{% url 'posts_list' %}">Back</a>
      </nav>
    </header>
    <main>
      <h1 class="title">Write a new post</h1>
      <form method="post">
        {% csrf_token %} {{ post.as_p }}
        <button class="button is-primary">Create</button>
      </form>
    </main>
  </body>
</html>
