<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>My Posts!</title>
  </head>
  <body class="content container">
    <header>
      <nav class="pt-6">
        <a href="{% url 'post_create' %}">Write a new post</a>
      </nav>
    </header>
    <main>
      {% for post in list_of_posts %}
      <div class="mt-6">
        <h1 class="title">
          <a href="{% url 'single_post' post.id %}">{{ post.title }}</a>
        </h1>
        <p>{{ post.created_on }}</p>
        <p>{{ post.summary }}</p>
      </div>
      {% endfor %}
    </main>
  </body>
</html>
